{% extends 'jogos/base.html' %}



{% block title %}

{% if form.instance.pk %}

Editar Jogo

{% else %}

Cadastrar Jogo

{% endif %}

- GameVault

{% endblock %}





{% block content %}





<section class="form-container">





<div class="form-card">





<h1>


{% if form.instance.pk %}

✏ Editar Jogo

{% else %}

🎮 Cadastrar Jogo

{% endif %}



</h1>





<form method="POST" enctype="multipart/form-data">


{% csrf_token %}





{{ form.as_p }}






<button type="submit">


{% if form.instance.pk %}


Salvar Alterações


{% else %}


Cadastrar Jogo


{% endif %}



</button>





</form>






<a href="{% url 'lista_jogos' %}" class="voltar">


⬅ Voltar


</a>





</div>





</section>






{% endblock %}